@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab';
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Roboto Slab', serif;


$primary-color: #212121;
$secondary-color: #fe6b88;
$bg-color: #E0E0E0;